h3,p{
    padding:0;
    margin:0;
}

/*-------------1-SECTION----------------------*/

.article-container{
    padding: 1.5em 0;
    width: 70%;
    margin: 0 auto;
}

.article{
    background-color: #EEEEEE; /*Gray 200*/
    border-radius: 0.2em;
    width: 100%;
  
    padding: 0.8em 10%;
    padding-bottom: 0.5em;;
  }

  .article h3{
      text-align: center;

  }

  section p{
      margin-bottom: 1em;
  }

  section p:last-of-type{
    margin-bottom: 0em;
}
section ol{
    margin-bottom: 0em;
}

  section{

      text-align: left;
      margin: 0.8em auto 0 auto;
  }

  .margin-top-1em{
      margin-top: 1em;
  }

  .photo{
      width: 100%;
      margin: 1.6em auto;
  }

  /*-----------Smartphone-Ottimization----------*/

@media only screen and (max-width:465px){

    .article{
    	padding: 0.8em 2%;
    }

}

@media only screen and (max-width:576px){

    .article-container{
        width: 98%;
    }

}


/*--------------Desktop-Media-Query------------*/

@media only screen and (min-width:768px){

    .article-container{
        width: 80%;
    }

}

@media only screen and (min-width:768px) and (max-width:992px){

}