
/*---------------GENERIC----------------------*/

hr{
  margin: 1.5em 0;
  height: 1.5px;
  opacity: 0.15;
}

hr:not([size]) {
  height: 1.5px;    /*Hack bootstrap :P */
}

/*-------------1-SECTION----------------------*/

#my-photo{    
  margin: 0;
  margin-right: auto;
  width: 100%;
}

#aboutme{
  margin: 0;
  margin-left: auto;
}

.description p{   
  display: inline;
}

.other{   /*class that manages the display of the word "continua" */
  display: none;
  color: #212121; /*Gray 900*/
  font-weight: 600;
  text-decoration: underline;
}

#first-section{
  padding: 0.5em;

  box-shadow: 0px 8px 10px #E0E0E0; /*Gray 300*/

  border-left:2px solid #E0E0E0; /*Gray 300*/
  border-right:2px solid #E0E0E0; /*Gray 300*/
}

/* distance between 1 and 2 section is 1.8em x 2 */

/*-------------2-SECTION----------------------*/

#second-section{
  background-color: #eeeeee; /*Gray 200 for ie*/
  background-color: #eeeeeebe; /*Gray 200 transparent*/

  box-shadow: 0px 4px 10px #E0E0E0; /*Gray 300*/

  border:2px solid #E0E0E0; /*Gray 300*/
  border-top:none;
  border-bottom-width:1px;

  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;

  padding: 0.5em;
  margin-bottom: 1em;
  /*margin-bottom: 1.5em;*/
}

#competence-photos{
  display: flex;
  margin:0;
  margin-right: auto;
  width: auto;
}

/*-------Competence-----*/

.start-to-impact{
  /*width:45%;*/
  width: 260px;
  opacity: 90%;
}

.competence-icon{
  width: 20%;
  opacity: 80%;
}

/*.competence-icon:last-of-type{
  padding-bottom: 5px;
  width: 19%;
}*/

/*-------Curriculum-----*/

.cv-icon{
  width: 18%;
  height: 18%;
  opacity: 90%;
}

.cv-section{
  display: flex;
}

.cv-section p{
  margin-left: 2%;
}

/*-------Passions-----*/

#passions-h3{
  text-align: center;
  margin: 0;
  margin-bottom: 1.5em;
}

/*-----Heal-Fitness-----*/


.fitness-section{
  display: flex;
}

.fitness-img{
  width:50%;
  border-radius: 0.2em;
  opacity: 95%;
}

.fitness-img:first-of-type{
  margin-right: 1%;
}

/*-------FOOTER--------*/

.footer{
  margin-top: 1.55em;
}


/*-----------Smartphone-Ottimization----------*/

@media only screen and (max-width:576px){

  #competence-photos{
    width: 100%;
  }

  .start-to-impact{
    width:250px;
  }
    
}

@media only screen and (max-width:465px){

  .other{
    display: inline;
  }

  #continue{
    display: none;
  }

  .description:hover #continue{
    display: inline;
  }
  .description:focus #continue{
    display: inline;
  }

  .description:hover .other{
    display: none;
  }
  .description:focus .other{
    display: none;
  }

  /*------Competence-----*/

  .start-to-impact{
    width:80%;
  }

  .competence-icon{
    width: 30%;
  }
  
  .competence-icon:last-of-type{
    width: 29%;
  }

  /*-------Curriculum-----*/

  .cv-icon{
    width: 28%;
    height: 28%;
  }

}

@media only screen and (max-width:768px){

  .mt-smartphone{
    margin-top: 3.2em;
  }

}



/*--------------Desktop-Media-Query------------*/

@media only screen and (min-width:768px){

/*-------------GENERIC-----------------------*/

  .query-768-width-60{
    width: 60%;
  }

  .info-container{
    width: 50%;
  }

  .to-left{
    margin: auto;
    margin-left: 0;
  }

  .to-right{
    margin: auto;
    margin-right: 0;
  }

  .shadow-left{
    box-shadow: -5px 8px 10px #212121; /*Gray 900*/
  }

  .shadow-right{
    box-shadow: 5px 8px 10px #212121; /*Gray 900*/
  }

/*-------------1-SECTION----------------------*/

  #my-photo{
    width: 45%;
  }
/*-------------2-SECTION----------------------*/

  .cv-icon{
    width: 20%;
    height: 20%;
  }

}

@media only screen and (min-width:768px) and (max-width:992px){

  #my-photo{
    width: 55%;
  }

}
@media only screen and (min-width:992px) and (max-width:1400px){
  .container-sm{
    max-width: 990px;
  }
  #first-section{
    padding: 0.5em 2em;
  }

  #second-section{
    padding: 0.5em 2em;
  }

}

@media only screen and (min-width:1400px){
  .container-sm{
    width: 70%;
  }

  #first-section{
    padding: 0.5em 2em;
  }

  #second-section{
    padding: 0.5em 2em;
  }

}