
/*-------------HEADER-----------------------*/


/*-------------1-SECTION----------------------*/

#my-photo{
  margin: 0 0 0 auto;
  width: 100%;
}

.description p{
  display: inline;
}

.other{
  display: none;
  color: #004D40; /*Teal 900*/
}

#first-section{
  padding: 0.5em;
}
/*-------------2-SECTION----------------------*/

#second-section{
  background-color: #cbecead7; /*Teal 100*/
  border-radius: 0.2em;

  padding: 0.5em;
}

#competence-photos{
  margin:0;
  margin-right: auto;
  width: auto;
}

.competence-icon:last-of-type{
  padding-bottom: 5px;
  width: 19%;
}

.start-to-impact{
  width:40%;
}

.competence-icon{
  width: 20%;
}

/*-----------Smartphone-Ottimization----------*/

@media only screen and (max-width:465px){

  .other{
    display: inline;
  }

  #continue{
    display: none;
  }

  .description:hover #continue{
    display: inline;
  }
  .description:focus #continue{
    display: inline;
  }

  .description:hover .other{
    display: none;
  }
  .description:focus .other{
    display: none;
  }

  .start-to-impact{
    width:80%;
  }
}

@media only screen and (max-width:576px){

  #competence-photos{
    width: 100%;
  }
    
}


/*--------------Desktop-Media-Query------------*/

@media only screen and (min-width:768px){

/*-------------GENERIC-----------------------*/

  .query-768-width-70{
    width: 70%;
  }

  .info-container{
    width: 50%;
  }

  .to-left{
    margin: auto;
    margin-left: 0;
  }

  .to-right{
    margin: auto;
    margin-right: 0;
  }

/*-------------1-SECTION----------------------*/

  #my-photo{
    width: 45%;
  }
/*-------------2-SECTION----------------------*/

  .start-to-impact{
    width: 40%;
  }

}

@media only screen and (min-width:768px) and (max-width:992px){

  #my-photo{
    width: 55%;
  }
}