
/*---------------GENERIC----------------------*/

h3,p{
    padding:0;
    margin:0;
}

p{
    margin-bottom: 1em;
}

h3{
    display: inline-block;
}

section{

    text-align: left;
    margin: 0 auto;
}

section p:last-of-type{
    margin-bottom: 0em;
}

section li>p:first-of-type{
    margin-top:1em;
}

/*-------------1-SECTION----------------------*/

.heading{       /*Contain the H3 element*/
    margin: 1.6em auto;
    display: flex;
    justify-content: center;
}

.article-container{
    padding: 1.5em 0;
    width: 70%;
    margin: 0 auto;
}

.article{
    background-color: #EEEEEE; /*Gray 200*/
    border: 1px solid #EEEEEE; /*Gray 200*/;
    border-radius: 0.2em;
    width: 100%;
  
    padding: 0 10%;
    padding-bottom: 1em;;
}

.photo{     /*manage all photos*/
    width: 100%;
    opacity: 0.9;
    border-radius: 0.2em;

    margin: 1.6em auto;
}

/*---------Margin-Utility----------*/

.no-margin{
    margin:0;
}


.no-margin-top{
    margin-top:0;
}

  

  /*-----------Smartphone-Ottimization----------*/

@media only screen and (max-width:465px){

    .article{
    	padding: 0.8em 2%;
    }

}

@media only screen and (max-width:576px){

    .article-container{
        width: 98%;
    }

}


/*--------------Desktop-Media-Query------------*/

@media only screen and (min-width:768px){

    .article-container{
        width: 80%;
    }

}

@media only screen and (min-width:768px) and (max-width:992px){

}