#page {
    min-height: 500px;
    height: auto;
    margin-bottom: 1.55em;
}

#project-container a:link, 
#project-container a:visited, 
#project-container a:focus, 
#project-container a:hover {
    color: black;
}

#project-container {
    margin: 0 auto;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
}

.project {
    margin-top: 0.3em;
    margin-bottom: 3em;
    padding: 0.5em;

    display: flex;
    flex-direction: column;

    border-radius: 1em;
    box-shadow: 0px 8px 10px #212121; /*Gray 900*/
}

.project:last-of-type {
    margin-bottom: 1.2em;
}

.img-container {
    margin-top: 10px;
}

.img-container img {
    border-radius: 1em;
}
#img-port {
    border-radius: 0.2em;
}
/*-------------------COLOR---------------------*/

#project-container {
    background-color: #eeeeee; /*Gray 200 for ie*/
    background-color: #eeeeeebe; /*Gray 200 transparent*/
  
    box-shadow: 0px 4px 10px #E0E0E0; /*Gray 300*/
  
    border:2px solid #E0E0E0; /*Gray 300*/
    border-top:none;
    border-bottom-width:1px;
  
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }

  .project {
    background-color: #FAFAFA; /*Gray 50*/
  }



/*-----------Smartphone-Ottimization----------*/

@media only screen and (max-width:465px) {

    .container-sm {
        padding-left: 0;
        padding-right: 0;
    }

    #project-container h3{
      font-size: 1.2em;
    }
  }


/*--------------Desktop-Media-Query------------*/

@media only screen and (min-width:465px) and (max-width:768px) {

    #project-container h3{
      font-size: 1.3em;
    }
  }

@media only screen and (min-width:768px) {

    #project-container {
        padding: 1.2em;
    }

    .project {
        width: 50%;
        padding: 1em;
        margin-bottom: 1.2em;
    }

    .to-right {
        align-self: flex-end;
    }

    .to-left {
        align-self: flex-start;
    }

    #img-port {
        width: 70%;
    }
}

@media only screen and (min-width:992px){

    #project-container {
        width: 796px;
    }
  
  }